@keyframes animjb00 {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-12px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes animjb01 {
	0% {
		transform: rotateZ(0deg);
		transform-origin: 30% 20%;
	}
	50% {
		transform: rotateZ(5deg);
		transform-origin: 30% 20%;
	}
	100% {
		transform: rotateZ(0deg);
		transform-origin: 30% 20%;
	}
}

@keyframes animjb02 {
	0% {
		transform: rotateZ(0deg);
		transform-origin: 30% 50%;
	}
	50% {
		transform: rotateZ(5deg);
		transform-origin: 30% 50%;
	}
	100% {
		transform: rotateZ(0deg);
		transform-origin: 30% 50%;
	}
}

@keyframes animic {
	0% {
		transform: translate(-200px, 10px) rotateZ(0deg);
		transform-origin: 50% 50%;
	}
	20% {
		transform: translate(-200px, 10px) rotateZ(360deg);
		transform-origin: 50% 50%;
	}
	100% {
		transform: translate(-200px, 10px) rotateZ(360deg);
		transform-origin: 50% 50%;
	}
}

@keyframes animsp {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url(rFont.ttf);
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url(font.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(font.ttf);
}

html,
body {
	color: #fff;
	font-family: 'Roboto';
	height: 100%;
	margin: 0px;
	width: 100%;
}

body {
	overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

h1 {
	font-size: 54px;
	margin: 0px;
	padding: 0.67em 0em;
}

h2 {
	font-size: 30px;
	margin: 0px;
	padding: 0.83em 0em;
}

html {
	background-image: url('./bgstar.svg');
}

.anim,
.slide {
	transition-duration: 0.4s;
}

.animslow {
	transition-duration: 1s;
}

.centerizer {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.ic {
	animation: animic 6s 5s infinite ease-in;
	border-radius: 12px;
	height: 60px;
	transform: translate(-200px, 10px);
}

.rale {
	font-family: 'Raleway';
}

.rubik {
	font-family: 'Rubik';
}

.slide {
	height: 100%;
	width: 100%;
}

.slide--done {
	opacity: 0;
}

.sp {
	animation: animsp 4s infinite ease-in;
	border-radius: 36px;
	height: 360px;
}

.spd {
	font-weight: bolder;
	letter-spacing: 8px;
}

.spn {
	font-size: 48px;
	font-weight: bolder;
	padding-bottom: 0px;
}

#slide1 #bannerhackclub {
	height: 280px;
	left: 24px;
	position: fixed;
	top: 0px;
	transition-duration: 1s;
}

#slide1 #bannerhackclub.close {
	top: -100%;
	opacity: 0;
}

#slide1 #bannermlh {
	height: 200px;
	right: 24px;
	position: fixed;
	top: 0px;
}

#slide1 #bannermlh.close {
	top: -100%;
	opacity: 0;
}

#slide1 #logo {
	height: 400px;
}

#slide1 #logo.close {
	height: 0px;
}

#slide1 #logo g#jb00 {
	animation: animjb00 2s infinite ease-in-out;
}

#slide1 #logo g#jb01 {
	animation: animjb01 2s infinite ease-in-out;
}

#slide1 #logo g#jb02 {
	animation: animjb02 2s infinite ease-in-out;
}

#slide2 .pic {
	border-radius: 36px;
	height: 0px;
	opacity: 0;
}

#slide2 .pic.open {
	height: 80%;
	opacity: 1;
}

#slide8 h1 {
	background-color: #fff;
	border-radius: 12px;
	color: #212121;
	font-weight: bolder;
}
